body {
  margin: auto;
  margin-top: 1%;
  width: 85%;
  text-shadow: 2px 2px 8px rgb(179, 179, 179);
}
      
#naslov {
  margin-top: 0.3%;
  margin-bottom: 0;
  background-color: #d51818;
  color: white;
  padding: 4%;
  text-shadow: 1px 1px 8px black;
}


#rezultatPlus {
  display: inline;
  background-color: #d51818;
  color: white;
  padding: 0.6%;
  margin-bottom: 2%;
  margin: 1% 0.3%;
  border-radius: 7%;
  text-shadow: 1px 1px 8px black;
}

.statistika_hide {
  display:none;
}

#dugmence {
  color: white;
  background-color: #106CC8;
  text-shadow: 1px 1px 8px black;
}

#najava_izabrane_kombinacije {
  margin-bottom: 2%;
}

.prikaziHR {
  margin-top: 2%;
}

.progress-bar {
  background-image: none;
  background-color:  #106CC8;
  text-shadow: 1px 1px 8px black;
}

.md-content-text-align {
  text-align: center;
}

.num-of-occur {
  margin-bottom: 3%;
}