<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LotoApp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" /><

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>

  <script>
        'use strict';

        /**
         * @ngdoc function
         * @name lotoratorApp.controller:MainCtrl
         * @description
         * # MainCtrl
         * Controller of the lotoratorApp
         */
        var myApp = angular.module('lotoratorApp')
          .controller('MainCtrl', ['$scope', 'allComb', function ($scope, allComb) {

          $scope.allNums = {};
          $scope.numOccuranceInAllComb = {};
          $scope.percantageOfOccurancies = {};

          $scope.lottoCombination = function() {

              //console.log('Hello, JSBelgrade!');
              document.getElementById('statistika').className = 'collapse';

              (function slBrA(min, max) {
                  min = 1;
                  max = 40;
                  var A = Math.floor(Math.random() * (max - min)) + min;
                  $scope.allNums.a = A;
              })();


                (function slBrB(min, max) {
                  min = 1;
                  max = 40;
                  var B = Math.floor(Math.random() * (max - min)) + min;
                    if ($scope.allNums.a !== B) {
                      $scope.allNums.b = B;
                    } else {
                       slBrB();
                    }
                })();

                (function slBrC(min, max) {
                  min = 1;
                  max = 40;
                  var C = Math.floor(Math.random() * (max - min)) + min;
                    if ($scope.allNums.a !== C && $scope.allNums.b !== C) {
                      $scope.allNums.c = C;
                    } else {
                       slBrC();
                    }
                })();

                (function slBrD(min, max) {
                  min = 1;
                  max = 40;
                  var D = Math.floor(Math.random() * (max - min)) + min;
                    if ($scope.allNums.a !== D && $scope.allNums.b !== D && $scope.allNums.c !== D) {
                      $scope.allNums.d = D;
                    } else {
                       slBrD();
                    }
                })();

                (function slBrE(min, max) {
                  min = 1;
                  max = 40;
                  var E = Math.floor(Math.random() * (max - min)) + min;
                    if ($scope.allNums.a !== E && $scope.allNums.b !== E && $scope.allNums.c !== E && $scope.allNums.d !== E) {
                      $scope.allNums.e = E;
                    } else {
                       slBrE();
                    }
                })();

                (function slBrF(min, max) {
                  min = 1;
                  max = 40;
                  var F = Math.floor(Math.random() * (max - min)) + min;
                    if ($scope.allNums.a !== F && $scope.allNums.b !== F && $scope.allNums.c !== F && $scope.allNums.d !== F && $scope.allNums.e !== F) {
                      $scope.allNums.f = F;
                    } else {
                       slBrF();
                    }
                })();

                (function slBrG(min, max) {
                  min = 1;
                  max = 40;
                  var G = Math.floor(Math.random() * (max - min)) + min;
                    if ($scope.allNums.a !== G && $scope.allNums.b !== G && $scope.allNums.c !== G && $scope.allNums.d !== G && $scope.allNums.e !== G && $scope.allNums.f !== G) {
                      $scope.allNums.g = G;
                    } else {
                       slBrG();
                    }
                })();
              $scope.numOccuranceInAllComb = {};
              //console.log($scope.allNums);
          };

          $scope.statistika = function(){

            console.log('Thank you very much!');
            var sveKomb = allComb;


            var brojSvihKomb = function(arr){
              var allNum;
              allNum = arr.length * 7;
              return allNum;
            };
            //console.log(brojSvihKomb(sveKomb));
            document.getElementById('statistika').removeAttribute('class');


            function brojPutaA (arr) {
              var arrTemp;
              var counterA = 0;
              var prviA = $scope.allNums.a;

              //console.log("Prvi broj u objektu je: " + prviA);
              //petlja koja ide kroz niz arr
              for(var i = 0; i < arr.length; i++){
                //petlja koja ide kroz niz arr[i]
                for(var x = 0; x < arr[i].length; x++ ){
                  arrTemp = arr[i][x];
                  //console.log("Trenutni broj u nizu je: " + arrTemp);
                  if(prviA === arrTemp){
                  counterA++;
                  //console.log("Promenljiva counter za prvi broj u kombinaciji je: " + counterA);
                  $scope.numOccuranceInAllComb.a = counterA;
                  }
                }
              }
            }

            function brojPutaB (arr) {
              var arrTemp;
              var counterB = 0;
              var prviB = $scope.allNums.b;

              //console.log("Drugi broj u objektu je: " + prviB);
              //petlja koja ide kroz niz arr
              for(var i = 0; i < arr.length; i++){
                //petlja koja ide kroz niz arr[i]
                for(var x = 0; x < arr[i].length; x++ ){
                  arrTemp = arr[i][x];
                  //console.log("Trenutni broj u nizu je: " + arrTemp);
                  if(prviB === arrTemp){
                  counterB++;
                  //console.log("Promenljiva counter za drugi broj u kombinaciji je: " + counterB);
                  $scope.numOccuranceInAllComb.b = counterB;
                  }
                }
              }
            }

            function brojPutaC (arr) {
              var arrTemp;
              var counterC = 0;
              var prviC = $scope.allNums.c;

              //console.log("Treci broj u objektu je: " + prviC);
              //petlja koja ide kroz niz arr
              for(var i = 0; i < arr.length; i++){
                //petlja koja ide kroz niz arr[i]
                for(var x = 0; x < arr[i].length; x++ ){
                  arrTemp = arr[i][x];
                  //console.log("Trenutni broj u nizu je: " + arrTemp);
                  if(prviC === arrTemp){
                  counterC++;
                  //console.log("Promenljiva counter za treci broj u kombinaciji je: " + counterC);
                  $scope.numOccuranceInAllComb.c = counterC;
                  }
                }
              }
            }

            function brojPutaD (arr) {
              var arrTemp;
              var counterD = 0;
              var prviD = $scope.allNums.d;

              //console.log("Cetvrti broj u objektu je: " + prviD);
              //petlja koja ide kroz niz arr
              for(var i = 0; i < arr.length; i++){
                //petlja koja ide kroz niz arr[i]
                for(var x = 0; x < arr[i].length; x++ ){
                  arrTemp = arr[i][x];
                  //console.log("Trenutni broj u nizu je: " + arrTemp);
                  if(prviD === arrTemp){
                  counterD++;
                  //console.log("Promenljiva counter za cetvrti broj u kombinaciji je: " + counterD);
                  $scope.numOccuranceInAllComb.d = counterD;
                  }
                }
              }
            }

            function brojPutaE (arr) {
              var arrTemp;
              var counterE = 0;
              var prviE = $scope.allNums.e;

              //console.log("Peti broj u objektu je: " + prviE);
              //petlja koja ide kroz niz arr
              for(var i = 0; i < arr.length; i++){
                //petlja koja ide kroz niz arr[i]
                for(var x = 0; x < arr[i].length; x++ ){
                  arrTemp = arr[i][x];
                  //console.log("Trenutni broj u nizu je: " + arrTemp);
                  if(prviE === arrTemp){
                  counterE++;
                  //console.log("Promenljiva counter za peti broj u kombinaciji je: " + counterE);
                  $scope.numOccuranceInAllComb.e = counterE;
                  }
                }
              }
            }

            function brojPutaF (arr) {
              var arrTemp;
              var counterF = 0;
              var prviF = $scope.allNums.f;

              //console.log("Sesti broj u objektu je: " + prviF);
              //petlja koja ide kroz niz arr
              for(var i = 0; i < arr.length; i++){
                //petlja koja ide kroz niz arr[i]
                for(var x = 0; x < arr[i].length; x++ ){
                  arrTemp = arr[i][x];
                  //console.log("Trenutni broj u nizu je: " + arrTemp);
                  if(prviF === arrTemp){
                  counterF++;
                  //console.log("Promenljiva counter za sesti broj u kombinaciji je: " + counterF);
                  $scope.numOccuranceInAllComb.f = counterF;
                  }
                }
              }
            }

            function brojPutaG (arr) {
              var arrTemp;
              var counterG = 0;
              var prviG = $scope.allNums.g;

              //console.log("Sedmi broj u objektu je: " + prviG);
              //petlja koja ide kroz niz arr
              for(var i = 0; i < arr.length; i++){
                //petlja koja ide kroz niz arr[i]
                for(var x = 0; x < arr[i].length; x++ ){
                  arrTemp = arr[i][x];
                  //console.log("Trenutni broj u nizu je: " + arrTemp);
                  if(prviG === arrTemp){
                  counterG++;
                  //console.log("Promenljiva counter za sedmi broj u kombinaciji je: " + counterG);
                  $scope.numOccuranceInAllComb.g = counterG;
                  }
                }
              }
            }

            brojPutaA(sveKomb);
            brojPutaB(sveKomb);
            brojPutaC(sveKomb);
            brojPutaD(sveKomb);
            brojPutaE(sveKomb);
            brojPutaF(sveKomb);
            brojPutaG(sveKomb);

            function izracunajProcA (){
              var aa = (($scope.numOccuranceInAllComb.a / brojSvihKomb(sveKomb)) * 100);
              var procA = Math.round(aa);
              $scope.percantageOfOccurancies.a = procA;
              //console.log($scope.percantageOfOccurancies.a);
              var a = document.getElementById('progresA');
              a.setAttribute('aria-valuenow', procA);
              a.setAttribute('style', 'min-width: 22px;' + ' ' + 'width:' + procA + '%');
              //console.log(procA);
            }
            izracunajProcA();

            function izracunajProcB (){
              var bb = (($scope.numOccuranceInAllComb.b / brojSvihKomb(sveKomb)) * 100);
              var procB = Math.round(bb);
              $scope.percantageOfOccurancies.b = procB;
              //console.log($scope.percantageOfOccurancies.b);
              var b = document.getElementById('progresB');
              b.setAttribute('aria-valuenow', procB);
              b.setAttribute('style', 'min-width: 22px;' + ' ' + 'width:' + procB + '%');
              //console.log(procB);
            }
            izracunajProcB();

            function izracunajProcC (){
              var cc = (($scope.numOccuranceInAllComb.c / brojSvihKomb(sveKomb)) * 100);
              var procC = Math.round(cc);
              $scope.percantageOfOccurancies.c = procC;
              //console.log($scope.percantageOfOccurancies.c);
              var c = document.getElementById('progresC');
              c.setAttribute('aria-valuenow', procC);
              c.setAttribute('style', 'min-width: 22px;' + ' ' + 'width:' + procC + '%');
              //console.log(procC);
            }
            izracunajProcC();

            function izracunajProcD (){
              var dd = (($scope.numOccuranceInAllComb.d / brojSvihKomb(sveKomb)) * 100);
              var procD = Math.round(dd);
              $scope.percantageOfOccurancies.d = procD;
              //console.log($scope.percantageOfOccurancies.d);
              var d = document.getElementById('progresD');
              d.setAttribute('aria-valuenow', procD);
              d.setAttribute('style', 'min-width: 22px;' + ' ' + 'width:' + procD + '%');
              //console.log(procD);
            }
            izracunajProcD();

            function izracunajProcE (){
              var ee = (($scope.numOccuranceInAllComb.e / brojSvihKomb(sveKomb)) * 100);
              var procE = Math.round(ee);
              $scope.percantageOfOccurancies.e = procE;
              //console.log($scope.percantageOfOccurancies.e);
              var e = document.getElementById('progresE');
              e.setAttribute('aria-valuenow', procE);
              e.setAttribute('style', 'min-width: 22px;' + ' ' + 'width:' + procE + '%');
              //console.log(procE);
            }
            izracunajProcE();

            function izracunajProcF (){
              var ff = (($scope.numOccuranceInAllComb.f / brojSvihKomb(sveKomb)) * 100);
              var procF = Math.round(ff);
              $scope.percantageOfOccurancies.f = procF;
              //console.log($scope.percantageOfOccurancies.f);
              var f = document.getElementById('progresF');
              f.setAttribute('aria-valuenow', procF);
              f.setAttribute('style', 'min-width: 22px;' + ' ' + 'width:' + procF + '%');
              //console.log(procF);
            }
            izracunajProcF();

            function izracunajProcG (){
              var gg = (($scope.numOccuranceInAllComb.g / brojSvihKomb(sveKomb)) * 100);
              var procG = Math.round(gg);
              $scope.percantageOfOccurancies.g = procG;
              //console.log($scope.percantageOfOccurancies.g);
              var g = document.getElementById('progresG');
              g.setAttribute('aria-valuenow', procG);
              g.setAttribute('style', 'min-width: 22px;' + ' ' + 'width:' + procG + '%');
              //console.log(procG);
            }
            izracunajProcG();
          };
        }]);

  </script>

  </head>
  <body ng-app="lotoratorApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- ovde ide sadrzaj -->
    <div class="container" ng-controller="MainCtrl">
       <div class="starter template" ng-view="">
         <div class="jumbotron">
             <h1 id="naslov" class="display-3">LOTO</h1>
               <br />
               <p id="uvod" class="lead">Klikni na dugme i dobićeš svoju slučajno izabranu loto kombinaciju!</p>
               <h2 id="srecno" >Srećno!</h2>
               <hr class="m-y-2">
               <p class="lead">
                 <a id="dugmence" role="button" class="btn btn-default btn-lg" ng-click="lottoCombination()">Izaberi</a>
               </p>
               <hr class="m-y-2">
           <div class="well">
               <div class="rezultatPlus">Izabrana kombinacija glasi:</div>
           </div>

           <div class="well well-sm"> <p class="rezultat" ng-repeat="broj in allNums">({{ broj }})</p></div>


           <div class="well">
               <p class="rezultatMinus">Statistika za vašu kombinaciju *: </p>
               <hr />
               <p class="lead">
                 <a id="dugmence1" role="button" type="button" class="btn btn-default btn-lg" ng-click="statistika()">Prikaži</a>
               </p>
               <hr />
             <div id="statistika" class="collapse">
                 <div class="well well-sm">Broj ponavljanja prvog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.a || 0}}</div>
                   <div id="progresA" class="progress">
                       <div class="progress-bar" role="progressbar" aria-valuenow="" style="width:100%">{{ percantageOfOccurancies.a }}%</div>
                   </div>
                 <div class="well well-sm">Broj ponavljanja drugog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.b || 0}} </div>
                   <div id="progresB" class="progress">
                       <div class="progress-bar" role="progressbar" aria-valuenow="" style="width:100%">{{ percantageOfOccurancies.b }}%</div>
                   </div>
                 <div class="well well-sm">Broj ponavljanja trećeg broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.c || 0 }} </div>
                   <div id="progresC" class="progress">
                       <div class="progress-bar" role="progressbar" aria-valuenow="" style="width:100%">{{ percantageOfOccurancies.c }}%</div>
                   </div>
                 <div class="well well-sm">Broj ponavljanja četvrtog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.d || 0}} </div>
                   <div id="progresD" class="progress">
                       <div class="progress-bar" role="progressbar" aria-valuenow="" style="width:100%">{{ percantageOfOccurancies.d }}%</div>
                   </div>
                 <div class="well well-sm">Broj ponavljanja petog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.e || 0}} </div>
                   <div id="progresE" class="progress">
                       <div class="progress-bar" role="progressbar" aria-valuenow="" style="width:100%">{{ percantageOfOccurancies.e }}%</div>
                   </div>
                 <div class="well well-sm">Broj ponavljanja šestog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.f || 0}} </div>
                   <div id="progresF" class="progress">
                       <div class="progress-bar" role="progressbar" aria-valuenow="" style="width:100%">{{ percantageOfOccurancies.f }}%</div>
                   </div>
                 <div class="well well-sm">Broj ponavljanja sedmog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.g || 0}} </div>
                   <div id="progresG" class="progress">
                       <div class="progress-bar" role="progressbar" aria-valuenow="" style="width:100%">{{ percantageOfOccurancies.g }}%</div>
                   </div>
                 <hr />
                 <div id="kaoFuter" class="well well-sm">* Sa glavne internet stranice <a href="http://www.lutrija.rs/loto.php">Državne lutrije Srbije</a> preuzeti su podaci o izvučenim loto kombinacijama od 2011. godine.</div>
             </div>
           </div>

         </div>
      </div>
    </div>

    <div id="futer" class="footer">
      <div class="container">
        <p>Sačinio<a href="https://github.com/AleksicIvan"> Ivan Aleksić </a>od <span class="glyphicon glyphicon-heart"></span></p>
      </div>
    </div>

</body>
</html>
