<h1 id="naslov" class="display-3">LOTO</h1>
<br />
<p id="uvod" class="lead">Klikni na dugme i dobićeš svoju slučajno izabranu loto kombinaciju!</p>
<h2 id="srecno" >Srećno!</h2>
<hr class="m-y-2">
<p class="lead">
  <a id="dugmence" role="button" class="btn btn-default btn-lg" ng-click="lottoCombination()">Izaberi</a>
</p>
<hr class="m-y-2">
<div class="well">
  <p><h3 class="rezultatPlus">Izabrana kombinacija glasi:</h3></p>
</div>

<div class="well">
  <p class="rezultat boxx" ng-repeat="(key, value) in allNums">{{ value }}</p>
</div>