<div class="containerx">
  <md-content class="md-content-text-align" flex="grow" class="md-body-2">
    <hr class="prikaziHR" />
    <p>
     <md-button id="dugmence" class="md-raised"  ng-click="getStatistics()">statistika</md-button>
    </p>
    <hr />
    <div id="statistika" class="statistika_hide">

        <div class="md-whiteframe-4dp md-title num-of-occur">Broj ponavljanja prvog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.a || 0}}</div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{percantageOfOccurancies.a}}" aria-valuemin="0" aria-valuemax="" style="width: {{percantageOfOccurancies.a + 3.5}}%;">
          {{percantageOfOccurancies.a}}%
          </div>
        </div>

        <div class="md-whiteframe-4dp md-title num-of-occur">Broj ponavljanja drugog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.b || 0}} </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{percantageOfOccurancies.b}}" aria-valuemin="0" aria-valuemax="" style="width: {{percantageOfOccurancies.b + 3.5}}%;">
          {{percantageOfOccurancies.b}}%
          </div>
        </div>  

        <div class="md-whiteframe-4dp md-title num-of-occur">Broj ponavljanja trećeg broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.c || 0 }} </div>
        <div class="progress">
           <div class="progress-bar" role="progressbar" aria-valuenow="{{percantageOfOccurancies.c}}" aria-valuemin="0" aria-valuemax="" style="width: {{percantageOfOccurancies.c + 3.5}}%;">
          {{percantageOfOccurancies.c}}%
          </div>
        </div>

        <div class="md-whiteframe-4dp md-title num-of-occur">Broj ponavljanja četvrtog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.d || 0}} </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percantageOfOccurancies.d}}" aria-valuemin="0" aria-valuemax="" style="width: {{percantageOfOccurancies.d + 3.5}}%;">
           {{percantageOfOccurancies.d}}%
            </div>        
          </div>

        <div class="md-whiteframe-4dp md-title num-of-occur">Broj ponavljanja petog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.e || 0}} </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percantageOfOccurancies.e}}" aria-valuemin="0" aria-valuemax="" style="width: {{percantageOfOccurancies.e + 3.5}}%;">
           {{percantageOfOccurancies.e}}%
            </div>        
          </div>      

        <div class="md-whiteframe-4dp md-title num-of-occur">Broj ponavljanja šestog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.f || 0}} </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percantageOfOccurancies.f}}" aria-valuemin="0" aria-valuemax="" style="width: {{percantageOfOccurancies.f + 3.5}}%;">
           {{percantageOfOccurancies.f}}%
            </div>        
          </div>  

        <div class="md-whiteframe-4dp md-title num-of-occur">Broj ponavljanja sedmog broja u izvučenim kombinacijama je: {{ numOccuranceInAllComb.g || 0}} </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percantageOfOccurancies.g}}" aria-valuemin="0" aria-valuemax="" style="width: {{percantageOfOccurancies.g + 3.5}}%;">
           {{percantageOfOccurancies.g}}%
            </div>        
          </div> 

        <hr />
    </div>
  </md-content>
</div>